<nav id="nav-standard"> 
    <% if (currentUser) { %>
    <a href="/" id="b-one">Home 01</a>
    <a href="" id="b-two"><%= currentUser.firstname %> 02</a>
    <form action="/users/<%= currentUser._id %>/profile" method="GET">
        <a href="" id="b-three" onclick="profileSubmit()" id="profileEdit">profile 03</a>
    </form>    
    <form action="/sessions/logout" method="GET" id="logOut">
        <a href="#" id="b-five" onclick="submitFunction()">Log Out 04</a>
    </form>
    <script>
        function profileSubmit() {
            document.getElementById("profileEdit").submit();
        }
    </script>
    <script>
        function submitFunction() {
            document.getElementById("logOut").submit();
        }
    </script>
    <% } else { %>
        <a href="/" id="b-one">Home 01</a>
        <a href="/users/new" id="b-two">Register 02</a>
        <a href="" id="b-three">03</a>
        <a href="/sessions/new" id="b-five">Login 04</a>
    </form>
    <% } %>    
</nav>